 p.inleiding {
            color: #ff0066;
        }

        p.hoofdstuk {
            color: blue;
        }

        p#slot {
            color: white;
        }

        body {
            background-color: black;
            text-align:center;
        }
